* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* colors Primary*/
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  /*Colors Neutral */
  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --backgroudcolor: #f0f0f0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--backgroudcolor);
}
/* WRAPPERS*/
.wrapper-header {
  text-align: center;
  padding: 3% 0 0;
}
.wrapper-page {
  width: 80vw;
  height: 83vh;
  margin: 5% auto;
}
/* TITTLES */
.tittle1 {
  color: var(--GrayishBlue);
  font-weight: 200;
  font-size: 1.65em;
}
.tittle2 {
  font-weight: 600;
  font-size: 1.65em;
  padding: 0 0 1%;
}
.paragraph {
  width: 50%;
  margin: auto;
  font-size: 0.75em;
  margin-bottom: 3%;
}
/*cards*/
.card {
  display: table;
  width: 250px;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card::before {
  content: "";
  display: block;
  height: 4px;
}
.supervisor::before {
  background-color: var(--Cyan);
}
.builder::before {
  background-color: var(--Red);
}
.karma::before {
  background-color: var(--Orange);
}
.calculator::before {
  background-color: var(--Blue);
}
/*TEXT CARD*/
.tittle-card {
  margin: 5% 0 0 5%;
}
.paragraph-card {
  margin-left: 5%;
  font-size: 0.75em;
}
/*IMG CARDS*/
.img-card {
  display: block;
  float: right;
  padding: 0 10px 10px 0;
}

@media screen and (min-width: 420px) {
  .wrapper-page {
    background-color: var(--VeryLightGray);
  }
  /*GRID TO THE CARDS*/
  .wrapper-cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    margin: 10px;
  }
}
